In [1]:
#Iportando o panda
import pandas as pd

Abrindo um arquivo .csv
Aqui foi passado alguns parametros deste metodo
--encoding
--sep
--header
--usecols
--nrows 

Demais parametros verificar na documentação oficial: https://pandas.pydata.org/docs/search.html

In [25]:
#Abrindo um arquivo .csv
#Parametros: encoding = tipo do arquivo
#
arquivo = pd.read_csv("C:\\Users\\sid-j\\OneDrive\\Documentos\\Estudos\\Python\\python\\Arquivo.csv", encoding="UTF-8", sep="|", header=0)

arquivo.head()

   ID   NOME
0   1  TESTE
1   1  TESTE
2   1  TESTE
3   1  TESTE
4   1  TESTE

In [35]:
arquivo = pd.read_csv("C:\\Users\\sid-j\\OneDrive\\Documentos\\Estudos\\Python\\python\\Arquivo.csv", encoding="UTF-8", sep="|", header=0, usecols=[0,1], nrows=1)
arquivo.head()

   ID   NOME
0   1  TESTE