In [1]:
import pandas as pd

In [47]:
excel = pd.read_excel("Arquivo.xlsx")

In [20]:
excel

   ID                NOME  IDADE       SEXO
0   1  Sidnei Lima Santos     38  Masculino

In [25]:
quantas_abas_existe = pd.ExcelFile("Arquivo.xlsx")

quantas_abas_existe.sheet_names

['Plan1', 'Planilha1']

In [36]:
colunas = quantas_abas_existe.parse(1)

In [60]:
col = excel.columns

print(excel[col[1]][2])

Letícia Lima Gonçalves