In [23]:
import pyodbc as odbc
import pandas as pd
from sqlalchemy import create_engine

In [24]:
def Conexao():
    servidor = "Driver={ODBC Driver 13 for SQL Server};Server=tcp:servidorbanco.database.windows.net,1433;Database=Casa;Uid=casa;Pwd=Si26Ra06Le08.;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
    conexao =   odbc.connect(servidor)
    return conexao

In [25]:
conn = Conexao()

sql = "select * from TBL_Casa_01"

dados = pd.read_sql(sql,conn)

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 13 for SQL Server]TCP Provider: Este host não é conhecido.\r\n (11001) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 13 for SQL Server]Invalid connection string attribute (0); [08001] [Microsoft][ODBC Driver 13 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (11001)')

In [22]:
dados

   ID                NOME  IDADE SEXO
0   1  Sidnei Lima Santos     38    M
1   2   Rafaela Gonçalves     37    F